.container {
    margin: 0 auto;
  }
  
  .py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .gap-5 {
    gap: 1.25rem;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .items-center {
    align-items: center;
  }
  
  .text-3xl {
    font-size: 1.875rem;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .text-center {
    text-align: center;
  }
  
  .pb-16 {
    padding-bottom: 4rem;
  }
  